@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&display=swap');


.aboutflex{
    min-height: calc(100vh - 90px);
    background: url("../asserts/output-onlinepngtools.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.heading, .paras {
    width: 90%;
    text-align: justify;
    padding: 1rem;
}
.us{
    margin-top: 3rem;
    font-weight: bold;
    
}
.head{
    font-size: 6vw;
    text-transform: capitalize;
    font-family: 'Alkatra', cursive;
}

.para1, .para2 {
    margin-top: 2rem;
    font-weight: bold;
    color: rgb(69, 69, 69);
}
/* .carousel{
    width: 90vw;
    height: 60vh;
    position: relative;
} */

@media only screen and (max-width: 1000px) {

    .aboutflex{
        display:flex;
        flex-direction: column;
        
    }
 
    .heading, .para1, .para2 {
        text-align: justify;
        /* padding: 1rem; */
    }
    .para1, .para2 {
        /* padding: 0 2rem;     */
    }
}