@import url('https://fonts.googleapis.com/css2?family=Playfair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.villa,
.villarev {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.villades,
.villapics {
  
  width: 50%;
  height: 70vh;
  
}
.villades{
  padding: 3vh;
}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
.embla__slide img {
  height: 70vh;
  width: 100%;
}
@media only screen and (max-width: 900px) {
  .villa,
  .villarev {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .villades,
  .villapics {
    width: 90%;
  }
  .villades{
    height: max-content;
  }
  .villarev {
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 600px) {
  .lis{
    flex-direction: column;
  }
  .embla__slide img{
    height: 40vh;
  }
  .villapics{
    height: 40vh;
  }
  .tess{
    text-align: center;
  }
  
}


.text12 h3, .headin{
  font-family: 'Playfair', serif;
  font-size: 3rem;
  padding-top: 3vh;
  text-align: center;
  text-transform: uppercase;
}
.text12 h5{
  font-family: 'Playfair', serif;
  padding-top: 3vh;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}
.text12 p, .tess{
  font-size: 1.3rem;
  padding: 4vh;
  font-family: 'Nunito', sans-serif;
  /* text-align: center; */
}
.text12{
  flex-direction: column;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  text-align: justify;
}
.lis{
  display: flex;
  justify-content: space-around;
}
.ameni{
  padding: 1vh;
  text-align: center;
}

.lawnn{
  /* justify-content: center; */
  text-align: center;
  align-items: center;

  /* margin-top: 13%; */
}

.la{
  justify-content: center;
  align-items: center;
}
li{
  text-transform: capitalize;
}