.counterflex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 40px;
}
.cnt1, .cnt2, .cnt3  {
    font-size: 3rem;
    font-weight: bold;
    align-items: center;
}
.visits{
    font-size: 1.5rem;
    font-weight: lighter;
    text-transform: capitalize;
    
}

@media only screen and (max-width: 700px){
    .counterflex{
        flex-direction: column;
        gap: 13px;
    }
    .cnt1, .cnt2, .cnt3  {
        font-size: 3rem;
        font-weight: bold;
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        
    }
    .visits{
        font-size: 1rem;
        font-weight: lighter;
        text-transform: uppercase;
        
    }
    
}