@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
.homecar{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* height: max-content; */
    padding: 40px 40px 0 40px;
    
}

.text, .caras{
    background-color: rgb(249, 242, 233);
    border-radius: 10px;
    padding: 40px;
    width: 60%;
}
.homabt{
    /* background: url("../asserts/16400328_v708-aum-24-b-diwali.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    width: 100%;
}
.caras{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
}
.text{
    width: 30vw;
    text-align: justify;
}
.text h2 {
    
    font-family: 'Alkatra', cursive;
    font-size: 1.9rem;
}
.matter{
    
    font-family: 'Nunito', sans-serif;
}
@media only screen and (max-width: 1200px){
    .text{
        width: 90vw;
    }
    .caras{
        width: 90vw;
        display: flex;
        justify-content: center;
        /* height: 50vh; */
    }
}